/* Media Queries for Responsive Design */

/* Mobile Devices (up to 600px) */
@media screen and (max-width: 600px) {
    #profile {
        height: auto; /* Remove fixed height for mobile devices */
        margin-bottom: 0;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw; /* Adjust height for better mobile display */
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
}

/* Tablets and Smaller Screens (up to 850px) */
@media (max-width: 850px) {
    #photos .photo-grid {
        grid-template-columns: repeat(2, 1fr); /* Display 2 columns on smaller screens */
    }
    #contact {
        margin-top: 2rem; /* Adjust the margin as needed */
    }
    #profile {
        margin-bottom: 2rem; /* Adjust the margin as needed to reduce the gap */
    }
    #about {
        margin-top: 2rem; /* Adjust the margin as needed to reduce the gap */
    }
}

/* Smaller Screens (up to 1200px) */
@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }
    #profile,
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
}

/* Small to Medium Screens (up to 1400px) */
@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact,
    #projects {
        height: fit-content;
    }
}
